@model TaxModel
@{
    ViewBag.Title = "Kaufman's Sporting Goods";
}


@*@*<h1 class="">Kaufman's Sporting Goods</h1>
*@
<div class="p-1">
    <p>
        At Kaufman's Sporting Goods we sell anything from Sports Apparel to Equipment and everything in between. 
        <br />
        We carry sizes for every Woman, Man and Child at low and affordable prices.
    </p>

</div>
<form asp-action="Index" method="post" class="form-horizontal">
    <div class="row">
        <main>
            <form asp-action="Index" method="post">
                <div class="row form-group p-1">
                    <label asp-for="Subtotal" class="col-sm-3">Subtotal: </label>
                    <div class="col-sm-3 p-1">
                        <input asp-for="Subtotal" class="form-control" />
                    </div>
                    <span asp-validation-for="Subtotal" class="col text-danger"></span>
                </div>
                <div class="row form-group p-1">
                    <label asp-for="TaxPercent" class="col-sm-3">TaxPercent: </label>
                    <div class="col-sm-3 p-1">
                        <input asp-for="TaxPercent" class="form-control" />
                    </div>
                    <span asp-validation-for="TaxPercent" class="col text-danger"></span>
                </div>
                <div class="row form-group p-1">
                    <label asp-for="TaxAmount" class="col-sm-3"> Tax Amount: </label>
                    <div class="col-sm-3 p-1">
                        <input class="form-control" value="@ViewBag.TA.ToString("C2")" readonly>
                    </div>
                    <span asp-validation-for="TaxAmount" class="col text-danger"></span>
                </div>
                <div class="row form-group p-1">
                    <label asp-for="Total" class="col-sm-3"> Total: </label>
                    <div class="col-sm-3 p-1">
                        <input class="form-control" value="@ViewBag.T.ToString("C2")" readonly>
                    </div>
                    <span asp-validation-for="Total" class="col text-danger"></span>
                </div>
                <div class="row form-group p-1">
                     <div class="col offset-sm-3">
                        <button type="submit" class="btn btn-secondary">Calculate</button>
                        <a asp-action="Index" class="btn btn-secondary">Clear</a>
                     </div>
                </div>
            </form>
        </main>
    </div>

</form>
