@model TaxModel
@{
    ViewBag.Title = "Kaufman's Sporting Goods";
}


<h1>Kaufman's Sporting Goods</h1>
<form asp-action="Index" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Subtotal">Subtotal:</label>
        <input asp-for="Subtotal" />
    </div>
    <div>
        <label asp-for="TaxPercent">Tax Percent:</label>
        <input asp-for="TaxPercent" />
    </div>
    <div>
        <label>Tax Amount:</label>
        <input value="@ViewBag.TA.ToString("C2")" readonly>
    </div>
        <div>
        <label>Total:</label>
        <input value="@ViewBag.T.ToString("C2")" readonly>
    </div>

    <button type="submit">Calculate</button>
    <a asp-action="Index">Clear</a>
</form>