
@{
    ViewData["Title"] = "AboutUs";
}

<h1 class="p-1 text-center">About Us</h1>
<div class="p-1">
    <p>
        Our store was founded by Ryan Kaufman in April of 1984. 
        Ryans mission was to make sure people could have access to Sporting Apparel and Equipment ready available to them in their own neighborhoods.
        Ryans vision was afford top line Sporting Good Apparel and Equipment at low prices all over the country.
    </p>

</div>

