
@{
    ViewData["Title"] = "Contacts";
}

<h1>Contacts</h1>
<div class="p-1">
    <p>
        You can contact us by calling 216-867-5309
        <br />
        Mon-Sunday 8 AM - 8 PM
    </p>

</div>


