
@{
    ViewData["Title"] = "Contacts";
}

<h1 class="p-1 text-center">Contacts</h1>
<div c>
    <p>
        You can contact us by calling 216-867-5309
        <br />
        Mon-Sunday 8 AM - 8 PM
    </p>

</div>


