@model TaxModel
@using Microsoft.AspNetCore.Http

@{
    ViewBag.Title = "Kaufman's Sporting Goods";
}


@*@*<h1 class="">Kaufman's Sporting Goods</h1>
*@
<div class="p-1 text-center">
    <p>
        At Kaufman's Sporting Goods we sell anything from Sports Apparel to Equipment and everything in between. 
        <br />
        We carry sizes for every Woman, Man and Child at low and affordable prices.
    </p>

</div>